In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('train_and_test2.csv')

In [3]:
data.shape

(1309, 28)

In [4]:
data.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 28 columns):
Passengerid    1309 non-null int64
Age            1309 non-null float64
Fare           1309 non-null float64
Sex            1309 non-null int64
sibsp          1309 non-null int64
zero           1309 non-null int64
zero.1         1309 non-null int64
zero.2         1309 non-null int64
zero.3         1309 non-null int64
zero.4         1309 non-null int64
zero.5         1309 non-null int64
zero.6         1309 non-null int64
Parch          1309 non-null int64
zero.7         1309 non-null int64
zero.8         1309 non-null int64
zero.9         1309 non-null int64
zero.10        1309 non-null int64
zero.11        1309 non-null int64
zero.12        1309 non-null int64
zero.13        1309 non-null int64
zero.14        1309 non-null int64
Pclass         1309 non-null int64
zero.15        1309 non-null int64
zero.16        1309 non-null int64
Embarked       1307 non-null float64
zero.17        1309 non-null int64
zero.18        1309 non-null int64
2urvived       1309 non-null int64
dtypes: float64(3), int64(25)
memory usage: 286.4 KB

In [6]:
data.drop(columns=['zero.1','zero.2','zero.3','zero.4','zero.5','zero.6','zero.7','zero.8','zero.9','zero.10','zero.11','zero.12','zero.13','zero.14','zero.15','zero.16','zero.17','zero.18'],inplace = True)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 10 columns):
Passengerid    1309 non-null int64
Age            1309 non-null float64
Fare           1309 non-null float64
Sex            1309 non-null int64
sibsp          1309 non-null int64
zero           1309 non-null int64
Parch          1309 non-null int64
Pclass         1309 non-null int64
Embarked       1307 non-null float64
2urvived       1309 non-null int64
dtypes: float64(3), int64(7)
memory usage: 102.3 KB

In [8]:
data.drop(columns=['Passengerid','zero'],inplace=True)

In [9]:
data.head()

    Age     Fare  Sex  sibsp  Parch  Pclass  Embarked  2urvived
0  22.0   7.2500    0      1      0       3       2.0         0
1  38.0  71.2833    1      1      0       1       0.0         1
2  26.0   7.9250    1      0      0       3       2.0         1
3  35.0  53.1000    1      1      0       1       2.0         1
4  35.0   8.0500    0      0      0       3       2.0         0

In [10]:
data['Fare'] = data['Fare'].astype(int)

In [11]:
data['survived'] = data['2urvived']
data.drop(columns=['2urvived'],inplace=True)

In [12]:
data['Parch'].value_counts()

0    1002
1     170
2     113
3       8
5       6
4       6
9       2
6       2
Name: Parch, dtype: int64

In [13]:
data=data[data['Parch'].isin(['0','1','2'])]

In [14]:
data = data.dropna()
data.shape

(1283, 8)

In [15]:
data['Embarked'] = data['Embarked'].astype(int)

In [16]:
data.head()

    Age  Fare  Sex  sibsp  Parch  Pclass  Embarked  survived
0  22.0     7    0      1      0       3         2         0
1  38.0    71    1      1      0       1         0         1
2  26.0     7    1      0      0       3         2         1
3  35.0    53    1      1      0       1         2         1
4  35.0     8    0      0      0       3         2         0

In [17]:
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [18]:
from sklearn.model_selection import train_test_split
Xtrain,Xtest,ytrain,ytest = train_test_split(X,y,test_size=0.2)

In [19]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(Xtrain,ytrain)

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [20]:
y_pred = classifier.predict(Xtest)

In [21]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
cm = confusion_matrix(ytest,y_pred)
print(cm)

[[168  12]
 [ 48  29]]

In [22]:
#print classification report
print(classification_report(ytest,y_pred))

              precision    recall  f1-score   support

           0       0.78      0.93      0.85       180
           1       0.71      0.38      0.49        77

    accuracy                           0.77       257
   macro avg       0.74      0.65      0.67       257
weighted avg       0.76      0.77      0.74       257

In [23]:
import pickle
pickle.dump(classifier, open('model.pkl', 'wb'))